@import '@/styles/media.scss';

.WhaWeDoSec {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 150px;
}

.left {
  width: 50%;
  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    color: var(--white-color-shade1);
  }
}
.right {
  width: 50%;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

@include mq(Lphone) {
  .left,
  .right {
    width: 100%;
  }
  .right {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: center;
  }
  .WhaWeDoSec {
    flex-direction: column;
  }
}
