@import '@/styles/media.scss';
.header_wrapper {
  max-width: 1440px;
  width: calc(100% - 50px);
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  position: fixed !important;
  overflow-y: hidden;
  overflow-x: hidden;
}
.header__buttons {
  display: flex;
  gap: 30px;
}

@include mq(Lphone) {
  .header_wrapper {
    max-width: 100%;
    width: 100%;
    justify-content: flex-start;
    top: 0;
  }
}
