.nav_link {
  display: flex;
  gap: 53px;
  &_item {
    font-size: 1.6rem;
    line-height: 180%;
    color: var(--white-color);

    cursor: pointer;

    list-style-type: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
