.nav_link {
  display: flex;
  gap: 20px;
  &_item {
    list-style-type: none;
    .link {
      text-decoration: none;
      font-size: 1.5rem;
      line-height: 180%;
      color: var(--white-color);
      cursor: pointer;
      font-weight: 500;
      list-style-type: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .link.active {
      color: var(--accent1-color);
    }
  }
}
