@import '@/styles/media.scss';

.Provides {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;

  padding-top: 150px;
}
.left {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  &__img {
    width: 100%;

    height: auto;
  }
}
.right {
  width: 50%;
  &__hr {
    width: 0;
    height: 76px;
    border: 0.5px solid var(--white-color-shade2);
  }
  &__achievements {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@include mq(Lphone) {
  .Provides {
    flex-direction: column;
  }
  .left {
    display: none;
  }
  .right {
    width: 100%;
  }
}
