.AboutUs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
  position: relative;
}
.left {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 40%;
  &__polygon1 {
    position: absolute;
    right: 0;
    width: 40.636px;
    height: 40.636px;
    clip-path: polygon(19% 0, 17% 100%, 100% 50%);
    background-color: #ff006e;
  }

  &__title {
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 130%;
  }
  &__subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 180%;

    color: var(--white-color-shade2);
  }

  &__advantage {
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 50px;
    &__info {
      display: flex;
      align-items: center;
      span {
        font-size: 15px;
        line-height: 180%;
        margin-left: 15px;
      }
    }
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  width: 60%;
  height: 100%;

  &__lightpurple {
    position: absolute;
    z-index: 3;

    transform: translate(100px, -300px);
    width: 117.579px;
    height: 117.579px;

    border-radius: 50%;
    background: rgb(131, 56, 236);
    filter: blur(49px);
  }
  .title {
    margin: 10px 0 0 0;
    color: #0e0e2c;
    font-size: 18px;
    font-weight: 600;
    line-height: 180%;
  }
  .subtitle {
    margin: 0;
    color: var(--white-color-shade2);
    font-size: 11px;
    font-weight: 400;
    line-height: 180%;
    padding-bottom: 21px;
  }
  &__lightyellow {
    z-index: 3;
    position: absolute;
    transform: translate(-150px, 300px);
    border-radius: 50%;
    background: #ffbe0b;
    width: 236.936px;
    height: 236.936px;
    filter: blur(49px);
  }
  &__container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    &__buyplan {
      top: 270px;
      right: 50px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 4;

      width: 192px;
      height: 250px;

      border-radius: 10px;
      background: #fff;

      box-shadow: -12px 13px 30px 0px rgba(0, 0, 0, 0.1);
      & button {
        width: 114px;
        height: 36px;
      }
    }

    &__services {
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      transform: translateY(-60px);
      bottom: 0;
      left: 0;
      width: 438.639px;
      height: 126.633px;
      border-radius: 10px;
      background: #fff;
      z-index: 4;
      &__cover {
        transform: translate(5px, -19px);
        z-index: 5;
        width: 153.49px;
        height: 163.622px;
        background-color: #fb5607;
        position: relative;
        display: flex;
        align-items: center;
      }
      &__img {
        transform: translateY(-32px);
        width: 153.117px;
        height: 233.147px;
      }
      &__right {
        transform: translateX(-20px);
      }
      &__play {
        cursor: pointer;
        width: 45px;
        height: 45px;
        position: absolute;
        right: -20px;
      }
    }

    &__blue,
    &__yellow {
      width: 550px;
      height: 660px;
      border-radius: 15px;
      position: absolute;
    }

    &__blue {
      background-color: var(--secondary-color);
      z-index: 1;
      transform: translate(0, -30px) rotate(-15deg);
    }
    &__yellow {
      background-color: var(--primary-color);
      transform: translate(10px, -20px);
      z-index: 2;
    }

    &__img {
      width: 920px;
      height: 825px;
      transform: translate(-20px, -70px);
      z-index: 3;
    }
  }
}
