.AboutUs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
}
.left {
  display: flex;

  flex-direction: column;
  position: relative;
  width: 40%;
  &__polygon1 {
    position: absolute;
    right: 0;
    width: 40.636px;
    height: 40.636px;
    clip-path: polygon(19% 0, 17% 100%, 100% 50%);
    background-color: #ff006e;
  }

  &__title {
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 130%;
  }
  &__subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 180%;

    color: var(--white-color-shade2);
  }

  &__advantage {
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 50px;
    &__info {
      display: flex;
      align-items: center;
      span {
        font-size: 15px;
        line-height: 180%;
        margin-left: 15px;
      }
    }
  }
}

.right {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
  justify-content: flex-end;
  &__lightpurple {
    z-index: 3;
    position: absolute;
    top: 300px;
    right: 0;
    width: 117.579px;
    height: 117.579px;
    border-radius: 50%;
    background: rgb(131, 56, 236);
    filter: blur(49px);
  }
  &__lightyellow {
    z-index: 3;
    position: absolute;
    transform: translate(10px, 200px);
    border-radius: 50%;
    background: rgba(255, 190, 11);
    width: 236.936px;
    height: 236.936px;
    filter: blur(49px);
  }
  &__container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    &__blue,
    &__yellow {
      width: 550px;
      height: 600px;
      border-radius: 15px;
      position: absolute;
    }

    &__blue {
      background-color: var(--secondary-color);
      z-index: 1;
      transform: rotate(-10deg);
    }
    &__yellow {
      background-color: var(--primary-color);
      z-index: 2;
    }

    &__img {
      z-index: 3;
      max-width: 920px;
      max-height: 825px;
    }
  }
}
